.textopo{
    border: 5px;
     border-color: rgb(17, 70, 6);
     border-style: solid; 
     color:rgb(235, 164, 13);
     margin-bottom: 10px;
     background-color: rgb(95, 59, 6)
     
}
.fundo{
    background-color: rgb(134, 86, 41)
}
.caixacadastro{
    
    border-color: rgb(17, 70, 6);
    border-style: solid; 
    padding: 500px;
    color:rgb(70, 49, 6);
    border-radius: 30px;
    width: 400px;
    border-block-start-width: 30px; 
    background-color: chartreuse;
    padding: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
    }
.caixapersonagem{
    text-align: center;
    border-color: rgb(17, 70, 6);
    border-style: solid; 
    color:rgb(29, 114, 50);
    border-radius: 30px;
    width: 400px;
    border-block-start-width: 30px;
    background-color: chartreuse;
    padding: 30px;
    display: none;
    
}